.admin__btns {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: var(--gap);
}

/* Admin list */
.players-list,
.teams-list {
	margin-bottom: var(--gap);
}

.players-list__info,
.teams-list__info {
	position: relative;
	display: grid;
	align-items: center;
	padding: 10px 0;
	opacity: 0.5;
}

.players-list__info {
	grid-template-columns: repeat(6, 1fr) 35px;
}

.teams-list__info {
	grid-template-columns: repeat(5, 1fr) 35px;
}

.players-list__info::after,
.teams-list__info::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: grey;
}

/* Admin player & team */
.admin-player,
.admin-team {
	position: relative;
}

.admin-player::after,
.admin-team::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: grey;
}

.admin-player__container {
	display: grid;
	grid-template-columns: repeat(6, 1fr) 35px;
	align-items: center;
	gap: 10px;
	padding: 10px 0;
}

.admin-player__img,
.admin-team__img {
	height: 40px;
	width: 40px;
	object-fit: contain;
	display: block;
}

.admin-player__nickname,
.admin-team__name {
	font-weight: 700;
}

.admin-player__name {
	font-weight: 500;
}

.admin__edit {
	background: none;
	padding: 0;
}

.admin__edit:hover {
	box-shadow: none;
}

.admin-team__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr) 35px;
	align-items: center;
	padding: 10px 0;
}

.admin-team__webSite {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Admin form */
.admin-form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: 10px 0;
}

.admin-form__signup,
.admin-form__login {
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.admin-form__label {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
	font-weight: 300;
	flex: 1 1 auto;
}

.admin-form__fieldset {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	border: none;
	padding: 0;
	margin: 0;
}

.admin-form__fieldset input {
	margin-bottom: calc(var(--gap) / 2);
}

.admin-form__fieldset input:last-child {
	margin-bottom: 0;
}

.admin-form__input {
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	outline: none;
	padding: 5px;
}

.admin-form__input:active,
.admin-form__input:focus {
	box-shadow: var(--outline);
}

.admin-form__desc {
	height: 100px;
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	outline: none;
	padding: 5px;
	resize: vertical;
}

.admin-form__desc:active,
.admin-form__desc:focus {
	box-shadow: var(--outline);
}
