.admin__btns {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: var(--gap);
}

/* Admin list */
.admin__list {
	margin-bottom: var(--gap);
}

.admin__players-list,
.admin__teams-list {
	position: relative;
	display: grid;
	align-items: center;
	padding: 10px 0;
	opacity: 0.5;
}

.admin__players-list {
	grid-template-columns: repeat(6, 1fr) 35px;
}

.admin__teams-list {
	grid-template-columns: repeat(5, 1fr) 35px;
}

.admin__players-list::after,
.admin__teams-list::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: grey;
}

/* Admin player & team */
.admin__player,
.admin__team {
	position: relative;
}

.admin__player::after,
.admin__team::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: grey;
}

.admin__player-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr) 35px;
	align-items: center;
	gap: 10px;
	padding: 10px 0;
}

.admin__team-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr) 35px;
	align-items: center;
	padding: 10px 0;
}

.admin__img {
	height: 40px;
	width: 40px;
	object-fit: contain;
	display: block;
}

.admin__player-nickname,
.admin__team-name {
	font-weight: 700;
}

.admin__player-name {
	font-weight: 500;
}

.admin__team-webSite {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.admin__edit {
	background: none;
	padding: 0;
}

.admin__edit:hover {
	box-shadow: none;
}

/* Admin form */
.admin__form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	padding: 10px 0;
}

.admin__form-signup,
.admin__form-login {
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.admin__form-label {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
	font-weight: 300;
	flex: 1 1 auto;
}

.admin__form-fieldset {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	border: none;
	padding: 0;
	margin: 0;
}

.admin__form-fieldset .admin__form-input {
	margin-bottom: calc(var(--gap) / 2);
}

.admin__form-fieldset .admin__form-input:last-child {
	margin-bottom: 0;
}

.admin__form-input {
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	outline: none;
	padding: 5px;
}

.admin__form-input:focus {
	box-shadow: var(--outline);
}

.admin__form-desc {
	height: 100px;
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	outline: none;
	padding: 5px;
	resize: vertical;
}

.admin__form-desc:focus {
	box-shadow: var(--outline);
}
