.all-players__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: calc(var(--gap) * 2);
	margin-bottom: var(--gap);
}

.all-players__info {
	position: relative;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	padding: 10px;
	margin-bottom: var(--gap);
	opacity: 0.5;
}

.all-players__info div:nth-child(n + 4) {
	place-self: center;
}

.all-players__info::after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: grey;
}

.all-players__player {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	gap: 10px;
	color: var(--main-text);
	background-color: var(--blocks-bg);
	border: 1px solid #dee1e6;
	border-radius: var(--radius);
	padding: 10px;
	margin-bottom: calc(var(--gap) / 2);
	transition: box-shadow 0.3s ease;
}

.all-players__player:hover {
	box-shadow: var(--shadow);
}

.all-players__img {
	height: 40px;
	width: 40px;
	display: block;
}

.all-players__nickname {
	font-weight: 700;
}

.all-players__name {
	font-weight: 500;
}

.all-players__age,
.all-players__country,
.all-players__team {
	place-self: center;
}

.all-players__form {
	display: flex;
	align-items: center;
	gap: var(--gap);
	flex-wrap: wrap;
}
