.form {
	align-self: center;
}

.form__group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: calc(var(--gap) / 2);
}

.form__control {
	padding: 10px;
	border: none;
	border-radius: var(--radius);
	width: 250px;
	cursor: pointer;
	outline: none;
	box-shadow: var(--shadow);
	transition: var(--transition);
}

.form__control:focus,
.form__control:active {
	box-shadow: var(--outline);
}
