.header {
	padding: 20px 0 40px 0;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.header__logo {
	font-size: 22px;
	font-weight: 500;
	margin: 0;
}

.header__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--gap) * 2);
}

.header__link {
	color: var(--main-text);
	text-decoration: none;
	outline: none;
}

.header__link:focus {
	text-decoration: underline;
}

.header__link:hover {
	text-decoration: underline;
}

.header__date {
	font-weight: 300;
}
