.panel {
	width: 100%;
	margin-bottom: var(--gap);
}

.panel__name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blocks-bg);
	border-radius: var(--radius);
	padding: 10px;
	margin-bottom: calc(var(--gap) / 2);
	box-shadow: var(--shadow);
}

.panel__btn {
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	border: none;
	border-radius: var(--radius);
	font-weight: bold;
	padding: 2px 8px;
	transform: rotate(180deg);
	outline: none;
	cursor: pointer;
}

.panel__btn--rotate {
	transform: rotate(0);
}

.panel__content {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: var(--gap);
	overflow: hidden;
	transition: max-height 0.6s ease;
}
