.player {
	margin-top: var(--gap);
}

.player__row {
	display: flex;
	justify-content: space-between;
}

.player__bio {
	flex: 1 0 400px;
}

.player__info {
	flex: 1 1 auto;
}

.player__imgs {
	position: relative;
}

.player__photo {
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.player__flag {
	position: absolute;
	height: 40px;
	width: auto;
	top: 0;
	right: 0;
	border-top-right-radius: 5px;
}

.player__btn {
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: var(--blocks-bg);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	border: 1px solid var(--blocks-bg);
	transition: all 0.3s ease;
}

.player__btn:hover {
	border: 1px solid var(--accent-color);
}

.player__nickname {
	font-size: 60px;
	font-weight: 700;
}

.player__fullname {
	font-size: 40px;
	margin-bottom: 0;
}

.player__info {
	margin-left: var(--gap);
}

.player__story {
	font-size: 22px;
	line-height: 38px;
	margin-top: 0;
}

.player__con {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.player__con span {
	font-size: 18px;
	margin-right: calc(var(--gap) / 2);
	margin-bottom: calc(var(--gap) / 2);
}

.player__conn span:last-child {
	margin-right: 0;
}
