@media (max-width: 950px) {
	.player__row {
		flex-wrap: wrap;
	}

	.player__info {
		margin-left: 0;
	}

	.player__fullname {
		margin-bottom: revert;
	}
}

@media (max-width: 750px) {
	.admin__player-container div:nth-child(3),
	.admin__player-container div:nth-child(4) {
		display: none;
	}
	.admin__players-list div:nth-child(3),
	.admin__players-list div:nth-child(4) {
		display: none;
	}

	.admin__players-list,
	.admin__player-container {
		grid-template-columns: 40px repeat(3, 1fr) 35px;
		gap: 20px;
	}
}

@media (max-width: 740px) {
	.panel__content {
		justify-content: center;
	}
}

@media (max-width: 650px) {
	.all-players__name,
	.all-players__age,
	.all-players__info div:nth-child(3),
	.all-players__info div:nth-child(4) {
		display: none;
	}

	.all-players__info,
	.all-players__player {
		grid-template-columns: 40px repeat(3, 1fr);
		gap: 20px;
	}

	.all-players__age,
	.all-players__country,
	.all-players__team {
		place-self: auto;
	}

	.all-players__info div:nth-child(n + 4) {
		place-self: auto;
	}

	.admin__form-fieldset {
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	.admin__team-name {
		font-size: 14px;
	}

	.admin__team-container div:nth-child(n + 3) {
		font-size: 12px;
	}
}

@media (max-width: 515px) {
	.teams__row {
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.admin__team-container {
		grid-template-columns: repeat(3, 1fr) 35px;
	}

	.admin__teams-list {
		grid-template-columns: repeat(3, 1fr) 35px;
	}

	.admin__team-container div:nth-child(n + 4) {
		display: none;
	}

	.admin__teams-list div:nth-child(4),
	.admin__teams-list div:nth-child(5) {
		display: none;
	}
}

@media (max-width: 460px) {
	.all-players__nickname {
		font-size: 14px;
	}

	.all-players__country,
	.all-players__team,
	.all-players__info {
		font-size: 12px;
	}

	.admin__player-nickname {
		font-size: 14px;
	}

	.admin__player-country,
	.admin__player-team,
	.admin__players-list {
		font-size: 12px;
	}
}

@media (max-width: 440px) {
	.player__bio {
		flex: 1 1 auto;
	}

	.player__nickname {
		font-size: 40px;
		font-weight: bold;
	}

	.player__fullname {
		font-size: 20px;
	}

	.player__story {
		font-size: 18px;
		line-height: 32px;
	}
}

@media (max-width: 400px) {
	.statistics {
		justify-content: center;
	}

	.all-players__info,
	.all-players__player {
		grid-template-columns: 30px repeat(3, 1fr);
		gap: 10px;
	}

	.all-players__img {
		width: 30px;
		height: 30px;
	}

	.admin__img {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 380px) {
	.form__group {
		justify-content: center;
	}

	.all-players__form {
		justify-content: center;
	}
}
