@media (max-width: 950px) {
	.player__row {
		flex-wrap: wrap;
	}

	.player .player__info {
		margin-left: 0;
	}
}

@media (max-width: 740px) {
	.panel__content {
		justify-content: center;
	}
}

@media (max-width: 515px) {
	.teams__row {
		justify-content: center;
	}
}

@media (max-width: 440px) {
	.player .player__bio {
		flex: 1 1 auto;
	}

	.player .player__nickname {
		font-size: 40px;
		font-weight: bold;
	}

	.player .player__fullname {
		font-size: 20px;
	}

	.player .player__info .player__story {
		font-size: 18px;
		line-height: 32px;
	}
}
